.footer {
    width: 100%;
    color: var(--tertiary);
}

.footer ul {

    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer li {
    margin-right: 10px;
}