.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero-content h1 {
font-family: 'Playfair Display', serif;
font-weight: 300;
font-size: 2.4rem;
opacity: 1;
}
 
.hero-content p {
font-family: 'Poppins', sans-serif;
font-weight: 300;
font-size: 1.1rem;
opacity: 1;
margin-top: -10px;
}

.hero-content-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 235px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 16px;
    padding-right: 16px;
    z-index: 2;
}

.hero-image {
background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ), url("https://images.squarespace-cdn.com/content/v1/590b369ae58c6287a432f8fb/1570121895312-42FX6LAYG7K8PX60LJSW/ke17ZwdGBToddI8pDm48kEKMqguWKtJtdu7GRpevtycUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcY_SKr6PHxI-NFLCFFhZRL-WMdpl-xMP0PX9ColnCcznOWQn75VErDdh0vv-EiKtt/ACS_0004.JPG?format=1500w");

height: 600px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

display: flex;
align-items: center;
justify-content: center;
}
