:root {
    --primary: #ED4730;
    --secondary: #000000; 
    --tertiary: #2B2B2C;
    --background: #FFFFFF;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--secondary);
}

a {
    color: var(--tertiary);
 }
 
 a:link {
   text-decoration: none;
 }
 
 a:visited {
    text-decoration: none;
 }
 
 a:hover {
    text-decoration: none;
    color: var(--primary);
 }