/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   :root {
       --primary-color: #ED4730;
       --secondary-color: ;
       --background-color: #;
       --text-color: ;
   }
   
   html {
    color: #4C4C4C;
    font-size: 1em;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  

   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }

  body {
      background-color: #F5F3F1;
      height: 100%;
      width: 100%;
      
  }


  .navbar {
    
      width: 100%;
      height: 50px;
      background-color: #FFFFFF;
      padding: 12px 16px 12px 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      box-shadow: 0px 0px 10px 0px rgb(0,0,0, 0.2);

  }

  .title {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 200;
    margin-left: 20px;
  }

  a {
      color: #4C4C4C;
  }
   
  a:link {
     text-decoration: none;
  }

  a:visited {
      text-decoration: none;
  }

  a:hover {
      text-decoration: none;
      color: #ED4730;
  }

  .red {
      color: #ED4730;
  }

  .nav-menu {
      display: flex;
      align-content: space-around;
      list-style-type: none;
      margin-right: 80px;
  }

  .nav-menu li {
      padding-left: 10px;
      padding-right: 10px;
      font-family: 'Playfair Display', serif;
  }

  #sign-up-button {
      border: solid 1px #4C4C4C;
      border-radius: 3px;
      padding: 8px 8px 8px 8px;
      color: #ED4730;
  }

  #sign-up-button:hover {
      background-color: #ED4730;
      color: #FFFFFF;
  }

  .close-text {
      letter-spacing: -4px;
      margin-right: 3px;
  }

  .hero-image {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("https://images.squarespace-cdn.com/content/v1/590b369ae58c6287a432f8fb/1570121895312-42FX6LAYG7K8PX60LJSW/ke17ZwdGBToddI8pDm48kEKMqguWKtJtdu7GRpevtycUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcY_SKr6PHxI-NFLCFFhZRL-WMdpl-xMP0PX9ColnCcznOWQn75VErDdh0vv-EiKtt/ACS_0004.JPG?format=1500w");
  
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .hero-content-background {
    height: 250px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 42px;
    opacity: 1;
  }

  .hero-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    opacity: 1;
    margin-top: -10px;
  }

  .hero-content a {
      border: solid 1px #ED4730;
      background-color: #ED4730;
      width: 30%;
      border-radius: 3px;
      padding-top: 12px;
      padding-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      margin-top: 20px;
      opacity: 1;
      font-size: 20px;
      color: white;
  }

  .squiggle {
      width: 600px;
  }

.transition-banner {
    height: 100px;
    background-color: #20273E;
}

.venue-highlight {
    background-color: #F5F3F1;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.venue-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.venue-banner h2 {
    color: #F5F3F1;
}

.venue-highlight-grid {
    background-color: #F5F3F1;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.venue-card {
    height: 225px;
    width: 420px;
    background-color: #FFFFFF;
}

.testimonial-section {
    height: 1000px;
    background-color: #ED4730;
}

.testimonial-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.testimonial-banner h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}

.testimonial-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.testimonial {
    height: 275px;
    width: 475px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #b3d4fc;
}

.memories-section {
    background-color: #451997;
    height: 1050px;
}

footer {
    background-color: #F7B500;
    height: 400px;    
}