/* Bulma Overrides */

$navbar-item-hover-color: $brand-primary;
$navbar-dropdown-arrow: $brand-primary;
$navbar-dropdown-item-hover-color: $brand-primary; 
$navbar-dropdown-background-color: $navbar-default-bg;